<hr class="mt-2 mb-2"/>
<% if !step.new_record? || !batch.ready? %>
  <div class="columns">
    <div class="column">
      <%= render partial: 'step/status', locals: { step: step } %>
    </div>
  </div>
  <% if step.done? || batch.ran? %>
    <div class="columns">
      <div class="column">
        <%= render partial: 'step/report', locals: { step: step } %>
      </div>
      <div class="column">
        <article class="message is-small">
          <div class="message-header has-background-white-ter has-text-dark">
            <p><%= fa_icon 'inbox', class: 'mr-2' %>Messages</p>
          </div>
          <div class="content message-body has-background-white-bis">
            <ol>
              <% if step.messages.any? %>
                <% step.messages.each do |message| %>
                  <li class="mb-1"><%= message %></li>
                <% end %>
              <% else %>
                <li class="mb-1">Nothing to report!</li>
              <% end %>
            </ul>
          </div>
        </article>
      </div>
    </div>
  <% end %>
<% else %>
  <%= yield :step_ready %>
<% end %>
