<nav class="breadcrumb is-centered is-medium has-succeeds-separator" aria-label="breadcrumbs">
  <ol type="1">
    <li>
      <%= link_to new_batch_step_preprocess_path(batch) do %>
        <% if batch.preprocessing? %><%= fa_icon "star", class: 'mr-2' %><% end %>
        <%= t('batch.step.title.preprocess') %>
        <% if batch.preprocessed? %>(<%= fa_icon 'check' %>)<% end %>
      <% end %>
    </li>
    <li>
      <% if batch.preprocessed? %>
        <%= link_to new_batch_step_process_path(batch) do %>
          <% if batch.processing? %><%= fa_icon "star", class: 'mr-2' %><% end %>
          <%= t('batch.step.title.process') %>
          <% if batch.processed? %>(<%= fa_icon 'check' %>)<% end %>
        <% end %>
      <% else %>
        <span class="is-italic pl-2 pr-2"><%= t('batch.step.title.process') %></span>
      <% end %>
    </li>
    <li>
      <% if batch.processed? %>
        <%= link_to new_batch_step_transfer_path(batch) do %>
          <% if batch.transferring? %><%= fa_icon "star", class: 'mr-2' %><% end %>
          <%= t('batch.step.title.transfer') %>
          <% if batch.transferred? %>(<%= fa_icon 'check' %>)<% end %>
        <% end %>
      <% else %>
        <span class="is-italic pl-2 pr-2"><%= t('batch.step.title.transfer') %></span>
      <% end %>
    </li>
    <li>
      <% if false %>
        <a href="#"><%= t('batch.step.title.archive') %></a>
      <% else %>
        <span class="is-italic pl-2 pr-2"><%= t('batch.step.title.archive') %></span>
      <% end %>
    </li>
  </ol>
</nav>
