<div class="field is-horizontal has-addons">
  <%= yield form %>
  <div class="control">
    <%= form.button class: 'button is-small is-outlined is-rounded ml-2',
        disabled: !batch.ready? || step.done?, data: { 'disable-with': spinner } do %>
        <%= content_tag :span, class: 'mr-2' do %><%= fa_icon 'play' %><% end %>
        <%= content_tag :span do %><%= t('action.start') %><% end %>
    <% end %>
  </div>
  <div class="control">
    <%= link_to '#', class: 'button is-small is-outlined',
        disabled: (!batch.pending? && !batch.running?), data: { 'disable-with': spinner } do %>
        <%= content_tag :span, class: 'mr-2' do %><%= fa_icon 'stop' %><% end %>
        <%= content_tag :span do %><%= t('action.stop') %><% end %>
    <% end %>
  </div>
  <div class="control">
    <%= link_to '#', class: 'button is-small is-outlined is-rounded',
        disabled: !(batch.cancelled? || batch.failed?), data: { 'disable-with': spinner } do %>
        <%= content_tag :span, class: 'mr-2' do %><%= fa_icon 'undo' %><% end %>
        <%= content_tag :span do %><%= t('action.reset') %><% end %>
    <% end %>
  </div>
</div>
