<tr id="progress_<%= dom_id(step) %>">
  <td><%= step.started_at ? local_time(step.started_at) : waiting_to_start_html.html_safe %></td>
  <td><%= time_ago_in_words step.current_runtime.seconds.from_now %></td>
  <td>
    <progress
      class="progress is-<%= step.done? ? 'success' : status_color(step.batch.reload.current_status) %>"
      value="<%= step.step_num_row %>"
      max="<%= step.batch.num_rows %>">
    </progress>
  </td>
  <td><%= step.percentage_complete? %></td>
  <td><%= step.step_errors %></td>
  <td><%= step.step_warnings %></td>
  <td></td>
</tr>
