<article class="message is-small mt-3">
  <div class="message-header has-background-white-ter has-text-dark">
    <p><%= fa_icon 'book', class: 'mr-2' %>Field definitions</p>
  </div>
  <div class="message-body has-background-white-bis">
    <table class="table is-fullwidth is-bordered">
      <thead>
        <tr>
          <td class="has-text-weight-bold">Field</th>
          <td class="has-text-weight-bold">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="is-italic">Name</td>
          <td>A name for the connection</td>
        </tr>
        <tr>
          <td class="is-italic"><%= link_to "Url", '#' %></td>
          <td>The services url (including "/cspace-services")</td>
        </tr>
          <td class="is-italic">Username</td>
          <td>Username for an account that exists in CollectionSpace</td>
        </tr>
        <tr>
          <td class="is-italic">Password</td>
          <td>Password for username</td>
        </tr>
        <tr>
          <td class="is-italic"><%= link_to "Profile", '#' %></td>
          <td>UI tenant profile and version (used to scope config)</td>
        </tr>
        <tr>
          <td class="is-italic">Enabled</td>
          <td>Determines if this connection can be used for a batch</td>
        </tr>
        <tr>
          <td class="is-italic">Default</td>
          <td>Make this connection the default selection for a batch</td>
        </tr>
      </tbody>
    </table>
    <p class="content"><%= fa_icon 'external-link', class: 'mr-2' %><%= link_to "View the complete documentation", '#' %></p>
  </div>
</article>
