<div class="columns">
  <div class="column">
    <% if !connection.new_record? && !current_user.is?(connection.user) %>
      <div class="notification is-info is-light mt-3">
        <%= raw t('connection.editing_for_user', email: connection.user.email) %>
      </div>
    <% end %>

    <%= form_with(model: connection, local: true) do |form| %>
      <div class="field">
        <%= form.label t('connection.name'), class: 'label' %>
        <%= content_tag :div, class: 'control has-icons-left' do %>
          <%= form.text_field :name, class: 'input', placeholder: t('connection.placeholder.name') %>
          <%= render partial: 'shared/icon',
              locals: { classes: 'has-text-danger is-small is-left', icon: 'asterisk' }
          %>
        <% end %>
      </div>

      <div class="field">
        <%= form.label t('connection.url'), class: 'label' %>
        <%= content_tag :div, class: 'control has-icons-left' do %>
          <%= form.text_field :url, class: 'input', placeholder: t('connection.placeholder.url') %>
          <%= render partial: 'shared/icon',
              locals: { classes: 'has-text-danger is-small is-left', icon: 'asterisk' }
          %>
        <% end %>
        <span class="is-italic is-size-6 has-text-weight-light">i.e. https://core.collectionspace.org/cspace-services</span>
      </div>

      <div class="field">
        <%= form.label t('connection.username'), class: 'label' %>
        <%= content_tag :div, class: 'control has-icons-left' do %>
          <%= form.text_field :username, :autocomplete => "new-password",
              class: 'input', placeholder: t('connection.placeholder.username') %>
          <%= render partial: 'shared/icon',
              locals: { classes: 'has-text-danger is-small is-left', icon: 'asterisk' }
          %>
        <% end %>
      </div>

      <div class="field">
        <%= form.label t('connection.password'), class: 'label' do %>
          <%= t('connection.password') %>
        <% end %>
        <%= content_tag :div, class: 'control has-icons-left' do %>
          <%= form.password_field :password, :autocomplete => "new-password",
              class: 'input', placeholder: t('connection.placeholder.password') %>
          <%= render partial: 'shared/icon',
              locals: {
                classes: "has-text-#{connection.new_record? ? 'danger' : 'normal'} is-small is-left",
                icon: 'asterisk'
              }
          %>
        <% end %>
      </div>

      <%= content_tag :div, class: 'field',
          'data-controller': 'autocomplete',
          'data-autocomplete-url': "/mappers/autocomplete" do %>
        <%= form.label t('connection.profile'), class: 'label' do %>
          <%= t('connection.profile') %>
        <% end %>
        <%= form.text_field :profile,
          disabled: !can_edit_connection_profile?(connection),
          class: 'input',
          value: (!connection.profile? ? current_user.group.profile : connection.profile),
          placeholder: t('connection.placeholder.profile_version'),
          'data-action': 'autocomplete#update',
          'data-target': 'autocomplete.field'
        %>
        <% unless can_edit_connection_profile?(connection) %>
          <span class="is-italic is-size-6 has-text-weight-light"><%= t('connection.group_has_profile') %></span>
        <% end %>
      <% end %>

      <div class="field">
        <%= form.label t('connection.enabled'), class: 'checkbox' do %>
          <%= content_tag :span, class: 'mr-1' do t('connection.enabled') ; end %>
          <%= form.check_box :enabled %>
        <% end %>

        <%= form.label t('connection.primary'), class: 'checkbox' do %>
          <%= content_tag :span, class: 'mr-1' do t('connection.primary') ; end %>
          <%= form.check_box :primary %>
        <% end %>
      </div>

      <% if connection.new_record? %>
        <%= form.hidden_field :user_id, :value => current_user.id %>
      <% end %>

      <div class="field is-grouped mt-5">
        <div class="control">
          <%= form.submit t('action.submit'), class: 'button is-link' %>
        </div>
        <div class="control">
          <%= link_to t('action.cancel'), edit_user_path(current_user), class: 'button is-info' %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="column">
  </div>
</div>
