<%= render partial: 'step/batch_summary', locals: { batch: batch } %>
<%= render partial: 'step/breadcrumbs', locals: { batch: batch } %>

<%= content_for :step_ready do %>
  <p class="is-italic"><%= t('batch.step.state.ready_message', step: batch.current_step) %></p>
<% end %>

<div class="box">
  <%= render layout: 'step/header', locals: { batch: batch, step: step } do |form| %>
    <%= form.label t('batch.step.process.check_records'), class: 'checkbox is-italic my-1' do %>
      <%= content_tag :span, class: 'ml-1 mr-1' do t('batch.step.process.check_records') ; end %>
      <%= form.check_box :check_records, disabled: !batch.ready?, class: 'mr-2' %>
    <% end %>

    <%= form.label t('batch.step.process.check_terms'), class: 'checkbox is-italic my-1' do %>
      <%= content_tag :span, class: 'ml-1 mr-1' do t('batch.step.process.check_terms') ; end %>
      <%= form.check_box :check_terms, disabled: !batch.ready?, class: 'mr-2' %>
    <% end %>
  <% end %>

  <%= render partial: 'step/body', locals: { batch: batch, step: step }%>
  <hr/>
  <%= render partial: 'step/navigation', locals: {
      previous_step: batch_step_preprocess_path(batch, batch.step_preprocess),
      previous_ok: true,
      next_step: new_batch_step_transfer_path,
      next_ok: (batch.may_transfer? || batch.processed?)
    }
  %>
</div>
