<h2 class="title">Sign up</h2>

<div class="columns">
  <div class="column">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label t('user.email'), class: 'label' %>
        <%= content_tag :div, class: 'control has-icons-left' do %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
          <%= render partial: 'shared/icon',
              locals: { classes: 'is-small is-left', icon: 'envelope' }
          %>
        <% end %>
      </div>

      <div class="field">
        <%= f.label t('user.password'), class: 'label' %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= content_tag :div, class: 'control has-icons-left' do %>
          <%= f.password_field :password, :autocomplete => "new-password", class: 'input' %>
          <%= render partial: 'shared/icon',
              locals: { classes: 'is-small is-left', icon: 'key' }
          %>
        <% end %>
      </div>

      <div class="field">
        <%= f.label t('user.password_confirmation'), class: 'label' %>
        <%= content_tag :div, class: 'control has-icons-left' do %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input' %>
          <%= render partial: 'shared/icon',
              locals: { classes: 'is-small is-left', icon: 'key' }
          %>
        <% end %>
      </div>

      <div class="field is-grouped mt-5">
        <div class="control">
          <%= f.submit t('user.signup'), class: 'button is-link' %>
        </div>
        <div class="control">
          <%= link_to "Log in", new_session_path(resource_name), class: 'button is-info' %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="column">
  </div>
</div>
