<article class="message is-small mt-5">
  <div class="message-header has-background-white-ter has-text-dark">
    <p><%= fa_icon 'book', class: 'mr-2' %>Field definitions</p>
  </div>
  <div class="message-body has-background-white-bis">
    <table class="table is-fullwidth is-bordered">
      <thead>
        <tr>
          <td class="has-text-weight-bold">Field</th>
          <td class="has-text-weight-bold">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="is-italic">Name</td>
          <td>A name for the group</td>
        </tr>
        <tr>
          <td class="is-italic"><%= link_to "Email domain", '#' %></td>
          <td>Domain used to match users to this group on signup</td>
        </tr>
          <td class="is-italic">Support Email</td>
          <td>Presented to a disabled user to request access</td>
        </tr>
        <tr>
          <td class="is-italic"><%= link_to "Profile", '#' %></td>
          <td>UI tenant profile and version (used to scope config)</td>
        </tr>
        <tr>
          <td class="is-italic">Enabled</td>
          <td>Enables user access in group context</td>
        </tr>
      </tbody>
    </table>
    <p class="content"><%= fa_icon 'external-link', class: 'mr-2' %><%= link_to "View the complete documentation", '#' %></p>
  </div>
</article>
