<div class="columns">
  <div class="column">
    <%= form_with(model: group, local: true, id: dom_id(group), class: 'mt-3') do |form| %>
      <%= content_tag :div, class: 'field' do %>
        <%= form.label t('group.name'), class: 'label' %>
        <%= form.text_field :name,
          disabled: group.disabled? || !manage?(group),
          class: 'input',
          placeholder: t('group.name'),
          autofocus: (group.name.blank? ? true : false)
        %>
      <% end %>

      <%= content_tag :div, class: 'field' do %>
        <%= form.label t('group.domain'), class: 'label' %>
        <%= form.text_field :domain,
          disabled: group.default? || group.disabled? || !manage?(group),
          class: 'input',
          placeholder: t('group.domain')
        %>
      <% end %>

      <%= content_tag :div, class: 'control field has-icons-left' do %>
        <%= form.label t('group.email'), class: 'label' %>
        <%= content_tag :div, class: 'control has-icons-left' do %>
          <%= form.text_field :email,
            disabled: group.disabled? || !manage?(group),
            class: 'input',
            placeholder: t('group.email'),
            data: { 'tooltip': t('group.tooltip.email') }
          %>
          <%= render partial: 'shared/icon',
              locals: { classes: 'is-small is-left', icon: 'envelope' }
          %>
        <% end %>
      <% end %>

      <%= content_tag :div, class: 'field',
          'data-controller': 'autocomplete',
          'data-autocomplete-url': "/mappers/autocomplete" do %>
        <%= form.label t('group.profile'), class: 'label' %>
        <%= form.text_field :profile,
          disabled: group.default? || group.disabled? || !manage?(group),
          class: 'input',
          placeholder: t('group.placeholder.profile_version'),
          'data-action': 'autocomplete#update',
          'data-target': 'autocomplete.field'
        %>
      <% end %>

      <%= content_tag :div, class: 'field' do %>
        <%= form.label :enabled do %>
          <%= t('group.enabled') %>
          <%= form.check_box :enabled,
            disabled: (group.default? || !manage?(group)),
            class: 'checkbox ml-2'
          %>
        <% end %>
      <% end %>

      <div class="field is-grouped mt-5">
        <div class="control">
          <%= form.submit t('action.submit'), class: 'button is-link' %>
        </div>
        <div class="control">
          <%= link_to t('action.cancel'), groups_path, class: 'button is-info' %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="column">
    <%= render partial: 'field_definitions' %>
  </div>
</div>
