<tr id="<%= dom_id(group) %>" data-group-id="<%= group.id %>">
  <td class='pt-2'>
    <%= link_to edit_group_path(group) do %>
<%= render partial: 'shared/icon',
    locals: { classes: 'is-small is-left', icon: 'pencil' }
%>
      <%= group.name %>
    <% end %>
  </td>
  <td class='pt-2'><%= group.domain %></td>
  <td class='pt-2'><%= group.email %></td>
  <td class='pt-2'><%= group.profile %></td>
  <td class='pt-2'>
    <% if group.enabled? %>
      <%= render partial: 'shared/icon',
          locals: { classes: 'has-text-success', icon: 'thumbs-up' }
      %>
    <% else %>
      <%= render partial: 'shared/icon',
          locals: { classes: 'has-text-danger', icon: 'ban' }
      %>
    <% end %>
    <% if can_toggle_status?(group) %>
      <%= check_box_tag nil, nil, group.enabled?,
        {
          disabled: group.default?,
          id: "toggle_status_#{dom_id(group)}",
          data: {
            'reflex': 'click->Application#toggle_status',
            'reflex-dataset': 'combined',
            'model': 'group',
            'id': group.id
          }
        }
      %>
    <% end %>
  </td>
  <td>
    <%= content_tag :div, class: 'tags has-addons is-outline' do %>
      <%= render partial: 'shared/button_delete', locals: { record: group } %>
    <% end %>
  </td>
</tr>
