<h1 class="title is-spaced"><%= t('group.title.index') %></h1>

<h2 class="subtitle is-5"><%= fa_icon('plus') %> <%= t('action.create') %></h2>
<%= render 'form_inline', group: @group %>
<hr/>

<table class="table is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th><%= t 'group.name' %></th>
      <th><%= t 'group.domain' %></th>
      <th><%= t 'group.email' %></th>
      <th><%= t 'group.profile' %></th>
      <th><%= t 'group.enabled' %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'row', collection: policy_scope(@groups), as: :group %>
  </tbody>
</table>