<h1 class="title has-text-centered is-spaced"><%= t('group.title.index') %></h1>

<%= content_tag :div, class: 'level' do %>
  <%= content_tag :div, class: 'tags has-addons' do %>
    <%= content_tag :span, class: 'tag is-link' do %>
      <%= t('action.create') %>
    <% end %>
    <%= link_to new_group_path, class: 'tag' do %>
      <%= fa_icon "plus" %>
    <% end %>
  <% end %>
<% end %>

<table class="table is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th><%= t 'group.name' %></th>
      <th><%= t 'group.domain' %></th>
      <th><%= t 'group.email' %></th>
      <th><%= t 'group.profile' %></th>
      <th><%= t 'group.enabled' %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'row', collection: policy_scope(@groups), as: :group %>
  </tbody>
</table>