<h1 class="title has-text-centered is-spaced"><%= t('group.title.index') %></h1>

<%= content_tag :div, class: 'level' do %>
  <%= content_tag :div, class: 'tags has-addons' do %>
    <%= render partial: 'shared/button_create', locals: { path: new_group_path } %>
  <% end %>
<% end %>

<table class="table is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th><%= t 'group.name' %></th>
      <th><%= t 'group.domain' %></th>
      <th><%= t 'group.email' %></th>
      <th><%= t 'group.profile' %></th>
      <th><%= t 'group.enabled' %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'row', collection: @groups, as: :group %>
  </tbody>
</table>

<hr/>
<%== pagy_bulma_nav(@pagy) %>
