<h2 class="subtitle">
  <%= t('user.affiliations') %>
</h2>
<% if !current_user.is?(user) %>
  <div class="notification is-info is-light mt-3">
    <%= raw t('user.editing_affiliations', email: current_user.email) %>
  </div>
<% end %>
<table class="table is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th><%= t 'group.name' %></th>
      <th><%= t 'group.enabled' %></th>
      <th><%= t 'user.affiliated' %></th>
  </thead>

  <tbody>
    <%= render partial: 'affiliations/row',\
        collection: current_user.affiliations,
        as: :affiliation,
        locals: { user: user }
    %>
  </tbody>
</table>
