<div class="columns">
  <div class="column">
    <%= form_with(model: user, local: true) do |form| %>
      <div class="field">
        <%= form.label t('user.email'), class: 'label' %>
        <div class="control">
          <%= form.email_field :email, disabled: true, class: 'input' %>
        </div>
      </div>

      <div class="field">
        <%= form.label t('user.password'), class: 'label' %><br />
        <div class="control">
          <%= form.password_field :password, :autocomplete => "off", disabled: !user_is_current_user?(user), class: 'input' %>
        </div>
      </div>

      <div class="field">
        <%= form.label t('user.password_confirmation'), class: 'label' %>
        <div class="control">
          <%= form.password_field :password_confirmation, disabled: !user_is_current_user?(user), class: 'input' %>
        </div>
      </div>

      <div class="field">
        <%= form.label t('user.active'), class: 'checkbox' do %>
          <%= form.check_box :active, disabled: user_is_current_user?(user) %>
          <%= t('user.active') %>
        <% end %>
      </div>

      <div class="field">
        <%= form.label t('user.admin'), class: 'checkbox' do %>
          <%= form.check_box :admin, disabled: user_is_current_user?(user) %>
          <%= t('user.admin') %>
        <% end %>
      </div>

      <div class="field is-grouped">
        <div class="control"> 
          <%= form.submit t('action.submit'), class: 'button is-link' %>
        </div>
        <div class="control"> 
          <% if current_user.admin? %>
            <%= link_to t('action.cancel'), users_path, class: 'button is-link' %>
          <% else %>
            <%= link_to t('action.cancel'), root_path, class: 'button is-link' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="column">
  </div>
</div>
