<div class="columns">
  <div class="column">
    <%= form_with(model: user, local: true) do |form| %>
      <div class="field">
        <%= form.label t('user.email'), class: 'label' %>
        <%= form.email_field :email, disabled: true, class: 'input' %>
      </div>

      <div class="field">
        <%= form.label t('user.password'), class: 'label' %>
        <%= form.password_field :password, :autocomplete => "off",
            disabled: !current_user.is?(user), class: 'input' %>
      </div>

      <div class="field">
        <%= form.label t('user.password_confirmation'), class: 'label' %>
        <%= form.password_field :password_confirmation,
            disabled: !current_user.is?(user), class: 'input' %>
      </div>

      <div class="field">
        <%= form.label t('user.group'), class: 'label' %>
        <div class="select">
          <%= form.collection_select :group_id, Group.all, :id, :name, {},
              disabled: current_user.is?(user) || user.admin? %>
        </div>
      </div>

      <div class="field">
        <%= form.label t('user.active'), class: 'checkbox' do %>
          <%= form.check_box :active, disabled: current_user.is?(user) %>
          <%= t('user.active') %>
        <% end %>
      </div>

      <div class="field">
        <%= form.label t('user.admin'), class: 'checkbox' do %>
          <%= form.check_box :admin, disabled: current_user.is?(user) %>
          <%= t('user.admin') %>
        <% end %>
      </div>

      <div class="field is-grouped">
        <div class="control"> 
          <%= form.submit t('action.submit'), class: 'button is-link' %>
        </div>
        <div class="control">
          <% if impersonating_user? %>
            <%= link_to t('action.cancel'), root_path, class: 'button is-info' %>
          <% else %>
            <%= link_to t('action.cancel'), :back, class: 'button is-info' %>
          <% end %>
        </div>
        <% if current_user.admin? && !current_user.is?(user) %>
        <div class="control"> 
          <%=
            link_to t('navigation.become'), impersonate_user_path(user),
            method: :post, class: 'button is-primary'
          %>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="column">
  </div>
</div>
