<table class="table is-fullwidth">
  <thead>
    <tr>
      <th><%= t 'user.email' %></th>
      <th><%= t 'user.enabled' %></th>
      <th><%= t 'user.group' %></th>
      <th><%= t 'user.role' %></th>
      <% if admin? %>
        <th colspan="1"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% policy_scope(@users).each do |user| %>
      <tr>
        <td><%= manage?(user) ? link_to(user.email, edit_user_path(user)) : user.email %></td>
        <td><%= user.enabled? %></td>
        <td><%= user.group.name %></td>
        <td><%= user.role.name %></td>
        <% if admin? %>
          <td>
            <%=
              link_to t('navigation.delete'), user,
              method: :delete, data: { confirm: t('action.confirm_delete') },
              class: 'button is-small'
            %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
