<h1 class="title"><%= t('user.title.index') %></h1>

<table class="table is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th><%= t 'user.email' %></th>
      <th><%= t 'user.group' %></th>
      <th><%= t 'user.role' %></th>
      <th><%= t 'user.enabled' %></th>
      <% if admin? %>
        <th colspan="1"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'row', collection: policy_scope(@users), as: :user %>
  </tbody>
</table>
