<h2 class="title"><%= t('action.login') %></h2>

<div class="columns">
  <div class="column">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label t('user.email'), class: 'label' %>
        <%= content_tag :div, class: 'control has-icons-left' do %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
          <%= render partial: 'shared/icon',
              locals: { classes: 'is-small is-left', icon: 'envelope' }
          %>
        <% end %>
      </div>

      <div class="field">
        <%= f.label t('user.password'), class: 'label' %>
        <%= content_tag :div, class: 'control has-icons-left' do %>
          <%= f.password_field :password, :autocomplete => "current-password", class: 'input' %>
          <%= render partial: 'shared/icon',
              locals: { classes: 'is-small is-left', icon: 'key' }
          %>
        <% end %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.label t('user.remember_me'), class: 'checkbox' do %>
            <%= f.check_box :remember_me %>
            <%= t('user.remember_me') %>
          <% end %>
        </div>
      <% end %>

      <div class="field is-grouped mt-5">
        <div class="control">
          <%= f.submit t('action.login'), class: 'button is-link' %>
        </div>
        <%- if devise_mapping.registerable? %>
        <div class="control">
          <%= link_to "Sign up", new_registration_path(resource_name), class: 'button is-info' %>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="column">
    <% if Rails.env.development? %>
      <article class="message is-warning" style="margin-top:2rem">
        <div class="message-header"><p><%= t('demo.title') %></p></div>
        <div class="message-body">
          <%= raw t('demo.message', password: 'password') %>
        </div>
      </article>
    <% end %>
  </div>
</div>
