<tr id="<%= dom_id(mapper) %>">
  <td><%= mapper.profile %></td>
  <td><%= mapper.version %></td>
  <td><%= mapper.type %></td>
  <td>
    <% if mapper.config.attached? %>
      <%= render partial: 'shared/icon',
          locals: { classes: 'has-text-success', icon: 'check' }
      %>
    <% else %>
      <%= render partial: 'shared/icon',
          locals: { classes: 'has-text-danger', icon: 'warning' }
      %>
    <% end %>
  </td>
  <td>
  <% if true %>
    <%= render partial: 'shared/icon',
        locals: { classes: 'has-text-success', icon: 'check' }
    %>
  <% else %>
    <%= render partial: 'shared/icon',
        locals: { classes: 'has-text-danger', icon: 'ban' }
    %>
  <% end %>
  </td>
  <td><%= mapper.batches.size %></td>
  <td>
    <% if mapper.config.attached? %>
      <%= link_to rails_blob_path(mapper.config, disposition: "attachment") do %>
        <%= render partial: 'shared/icon',
            locals: { classes: '', icon: 'download' }
        %>
      <% end %>
    <% end %>
  </td>
</tr>
