<h1 class="title has-text-centered"><%= t('mapper.title.index') %></h1>

<%= content_tag :div, class: 'tags has-addons' do %>
  <%= render partial: 'shared/button_refresh',
    locals: { classes: 'tag is-primary', reflex: 'click->Mapper#refresh' }
  %>
<% end %>

<table class="table is-fullwidth is-hoverable">
  <caption class="mb-2 py-2 has-background-light">
    <%= t('mapper.url_link_prefix') %>
    <%= link_to Rails.configuration.mappers_url, Rails.configuration.mappers_url %>
  </caption>
  <thead>
    <tr>
      <th><%= t 'mapper.profile' %></th>
      <th><%= t 'mapper.version' %></th>
      <th><%= t 'mapper.type' %></th>
      <th><%= t 'mapper.status' %></th>
      <th><%= t 'mapper.enabled' %></th>
      <th><%= t 'mapper.batches' %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'row', collection: @mappers, as: :mapper %>
  </tbody>
</table>

<hr/>
<%== pagy_bulma_nav(@pagy) %>
