<h1 class="title"><%= t('mapper.title') %></h1>

<%= content_tag :p do %>
  <%= t('mapper.url_link_prefix') %>
  <%= link_to Rails.configuration.mappers_url, Rails.configuration.mappers_url %>
<% end %>

<%= content_tag :div, class: 'tags has-addons mt-2' do %>
  <%= content_tag :span, class: 'tag is-primary' do %>
    <%= t('action.refresh') %>
  <% end %>
  <%= link_to '', class: 'tag', data: { 'reflex': 'click->MapperReflex#refresh' } do %>
    <%= fa_icon "refresh" %>
  <% end %>
<% end %>

<table class="table is-fullwidth is-hoverable mt-3">
  <thead>
    <tr>
      <th><%= t 'mapper.profile' %></th>
      <th><%= t 'mapper.version' %></th>
      <th><%= t 'mapper.type' %></th>
      <th><%= t 'mapper.status' %></th>
      <th><%= t 'mapper.enabled' %></th>
      <th><%= t 'mapper.batches' %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'row', collection: policy_scope(@mappers), as: :mapper %>
  </tbody>
</table>
