<nav class="breadcrumb is-centered is-medium has-succeeds-separator" aria-label="breadcrumbs">
  <ol type="1">
    <li>
      <%= link_to new_batch_steps_preprocess_path(batch) do %>
        <%= fa_icon "star", class: 'mr-2' %>
        <%= t('batch.step.title.preprocess') %>
      <% end %>
    </li>
    <li><a href="#"><%= t('batch.step.title.process') %></a></li>
    <li><a href="#"><%= t('batch.step.title.transfer') %></a></li>
    <li><a href="#"><%= t('batch.step.title.archive') %></a></li>
  </ol>
</nav>
