<%= content_tag :div, class: 'level' do %>
  <%= content_tag :div, class: 'level-left' do %>
    <div class="control">
      <%= link_to '$', class: 'button is-info is-small', disabled: true do %>
        <%= fa_icon 'backward', class: 'mr-2 mt-1' %>
        <%= t('action.previous') %>
      <% end %>
    </div>
  <% end %>
  <%= content_tag :div, class: 'level-right' do %>
    <div class="control">
      <%= link_to '#', class: 'button is-info is-small', disabled: true do %>
        <%= fa_icon 'lock', class: 'mr-2 mt-1' %>
        <%= t('action.next') %>
        <%= fa_icon 'forward', class: 'ml-2 mt-1' %>
      <% end %>
    </div>
  <% end %>
<% end %>