<%= form_with(model: batch, local: true, id: dom_id(batch), class: 'mt-3') do |form| %>
  <div class="columns">
    <div class="column">
      <div class="columns is-multiline">
        <%= content_tag :div, class: 'column is-half' do %>
          <%= content_tag :div, class: 'field' do %>
            <%= form.label t('batch.name'), class: 'label' %>
            <%= form.text_field :name,
              class: 'input',
              placeholder: t('batch.name'),
              autofocus: (batch.name.blank? ? true : false)
            %>
          <% end %>
        <% end %>

        <%= content_tag :div, class: 'column is-half' do %>
          <%= content_tag :div, class: 'field' do %>
            <%= form.label t('batch.group'), class: 'label' %>
            <div class="select is-fullwidth">
              <%= form.collection_select :group_id, Group.select_options(current_user), :id, :name,
                  { selected: current_user.group_id }, disabled: !admin? %>
            </div>
          <% end %>
        <% end %>

        <%= content_tag :div, class: 'column is-half' do %>
          <%= form.label t('batch.connection'), class: 'label' %>
          <div class="select is-fullwidth">
            <%= form.collection_select :connection_id, current_user.connections,
              :id, :name, { selected: @connection.id }, data: { 'reflex': 'change->Connection#selected' }
            %>
          </div>
        <% end %>

        <%= content_tag :div, class: 'column is-half' do %>
          <div class="field">
            <%= form.label t('batch.mapper'), class: 'label' %>
            <div class="select is-fullwidth">
              <%= form.collection_select :mapper_id, Mapper.select_options(@connection), :id, :title, {} %>
            </div>
          </div>
        <% end %>

        <%= content_tag :div, class: 'column is-three-quarters' do %>
          <%= form.label t('batch.file'), class: 'label' %>
          <%= content_tag :div, class: 'file mb-3 is-fullwidth' do %>
            <%= content_tag :label, class: 'file-label' do %>
              <%=
                form.file_field :spreadsheet, class: 'file-input', onchange: filename_js
              %>
              <%= content_tag :span, class: 'file-cta' do %>
                <%= fa_icon('upload') %>
                <%= content_tag :span, class: 'file-label ml-2' do %>
                  Select file
                <% end %>
              <% end %>
              <%= content_tag :span, id: 'file-name', class: 'file-name' do %>
                No file selected
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <%= content_tag :div, class: 'column is-one-quarter' do %>
        <% end %>

        <%= content_tag :div, class: 'column' do %>
          <div class="field is-grouped">
            <div class="control">
              <%= form.button t('action.submit'), class: 'button is-link',
                  data: { 'disable-with': spinner_html }, style: 'min-width: 5rem;' %>
            </div>
            <div class="control">
              <%= link_to t('action.cancel'), batches_path, class: 'button is-info' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="column">
      <article class="message is-small mt-3">
        <div class="message-header has-background-white-ter has-text-dark">
          <p>Field definitions</p>
        </div>
        <div class="message-body has-background-white-bis">
          <table class="table is-fullwidth is-bordered">
            <thead>
              <tr>
                <td class="has-text-weight-bold">Field</th>
                <td class="has-text-weight-bold">Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="is-italic">Name</td>
                <td>A name for the batch</td>
              </tr>
              <tr>
                <td class="is-italic">Group</td>
                <td>The group for the batch (can only be changed by admins)</td>
              </tr>
                <td class="is-italic">Connection</td>
                <td>The CollectionSpace API target</td>
              </tr>
              <tr>
                <td class="is-italic"><%= link_to "Mapper", '#' %></td>
                <td>The configuration to use (by record type)</td>
              </tr>
              <tr>
                <td class="is-italic">File</td>
                <td>A csv file to upload</td>
              </tr>
              <tr>
            </tbody>
          </table>
          <p class="content"><%= link_to "View the complete documentation", '#' %></p>
        </div>
      </article>
    </div>
  </div>
<% end %>
