<%= form_with(model: batch, local: true, id: dom_id(batch), class: 'mt-3') do |form| %>
  <div class="columns">
    <div class="column">
      <div class="columns is-multiline">
        <%= content_tag :div, class: 'column is-half' do %>
          <%= content_tag :div, class: 'field' do %>
            <%= form.label t('batch.name'), class: 'label' %>
            <%= content_tag :div, class: 'control has-icons-left' do %>
              <%= form.text_field :name, class: 'input', placeholder: t('batch.name'),
                autofocus: (batch.name.blank? ? true : false)
              %>
              <%= render partial: 'shared/icon',
                  locals: { classes: 'has-text-danger is-small is-left', icon: 'asterisk' }
              %>
            <% end %>
          <% end %>
        <% end %>

        <%= content_tag :div, class: 'column is-half' do %>
          <%= content_tag :div, class: 'field' do %>
            <%= form.label t('batch.group'), class: 'label' %>
            <div class="select is-fullwidth">
              <%= form.collection_select :group_id, Group.select_options_with_default(current_user), :id, :name,
                  { selected: current_user.group_id }, disabled: !admin? %>
            </div>
          <% end %>
        <% end %>

        <%= content_tag :div, class: 'column is-half' do %>
          <%= form.label t('batch.connection'), class: 'label' %>
          <div class="select is-fullwidth">
            <%= form.collection_select :connection_id, current_user.connections,
              :id, :name, { selected: @connection.id }, data: { 'reflex': 'change->Connection#selected' }
            %>
          </div>
        <% end %>

        <%= content_tag :div, class: 'column is-half' do %>
          <div class="field">
            <%= form.label t('batch.mapper'), class: 'label' %>
            <div class="select is-fullwidth">
              <%= form.collection_select :mapper_id, Mapper.select_options(@connection), :id, :title, {} %>
            </div>
          </div>
        <% end %>

        <%= content_tag :div, class: 'column is-three-quarters' do %>
          <%= form.label t('batch.file'), class: 'label' %>
          <%= content_tag :div, class: 'file mb-3 is-fullwidth' do %>
            <%= content_tag :label, class: 'file-label' do %>
              <%=
                form.file_field :spreadsheet, accept: csv_content_types, required: true,
                class: 'file-input', onchange: filename_js
              %>
              <%= content_tag :span, class: 'file-cta' do %>
                <%= fa_icon('upload') %>
                <%= content_tag :span, class: 'file-label ml-2' do %>
                  Select file
                <% end %>
              <% end %>
              <%= content_tag :span, id: 'file-name', class: 'file-name' do %>
                No file selected
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <%= content_tag :div, class: 'column is-one-quarter' do %>
        <% end %>

        <%= content_tag :div, class: 'column' do %>
          <div class="field is-grouped">
            <div class="control">
              <%= form.button t('action.submit'), class: 'button is-link',
                  data: { 'disable-with': spinner_html }, style: 'min-width: 5rem;' %>
            </div>
            <div class="control">
              <%= link_to t('action.cancel'), batches_path, class: 'button is-info' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="column">
      <%= render partial: 'field_definitions' %>
    </div>
  </div>
<% end %>

<% if flash[:csv_lint] %>
  <article class="flash message is-danger is-small mt-3">
    <div class="message-header">
      <p>Prescreening uploaded CSV errors were found (displaying up to first 5)</p>
    </div>
    <div class="message-body">
      <table class="table is-fullwidth is-bordered">
        <thead>
          <tr>
            <td class="has-text-weight-bold">Row</th>
            <td class="has-text-weight-bold">Category</th>
            <td class="has-text-weight-bold">Type</th>
            <td class="has-text-weight-bold">Column</th>
            <td class="has-text-weight-bold">Content</th>
          </tr>
        </thead>
        <tbody>
          <% flash[:csv_lint].each do |error| %>
            <tr>
              <td><%= error.row %></td>
              <td><%= error.category %></td>
              <td><%= error.type %></td>
              <td><%= error.column %></td>
              <td><%= truncate error.content.to_s, length: 100 %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <p class="content">These errors will be lost on page reload</p>
    </div>
  </article>
<% end %>
