<h1 class="title has-text-centered is-spaced"><%= t('batch.title.index') %></h1>

<%= content_tag :div, class: 'level' do %>
  <%= content_tag :div, class: 'tags has-addons' do %>
    <%= render partial: 'shared/button_create', locals: { path: new_batch_path } %>
    <%= render partial: 'shared/button_refresh',
      locals: { classes: 'tag is-primary', reflex: 'click->Application#reload' }
    %>
  <% end %>
<% end %>

<%= content_tag :div, class: 'tabs is-centered is-boxed' do %>
  <%= render partial: 'shared/tabs' , locals: { tabs: @tabs } %>
<% end %>

<table class="table is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th><%= t 'batch.name' %></th>
      <th><%= t 'batch.group' %></th>
      <th><%= t 'batch.current_step' %></th>
      <th><%= t 'batch.current_state' %></th>
      <th><%= t 'batch.created_by' %></th>
      <th><%= t 'batch.created_at' %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'row', collection: @batches, as: :batch %>
  </tbody>
</table>