<h1 class="title is-spaced"><%= t('batch.title.index') %></h1>

<%= content_tag :div, class: 'level' do %>
    <%= content_tag :div, class: 'tags has-addons' do %>
      <%= content_tag :span, class: 'tag is-link' do %>
        <%= t('action.create') %>
      <% end %>
      <%= link_to new_batch_path, class: 'tag' do %>
        <%= fa_icon "plus" %>
      <% end %>

      <%= content_tag :span, class: 'tag is-primary ml-3' do %>
        <%= t('action.refresh') %>
      <% end %>
      <%= link_to '', id: 'refresh', class: 'tag',
          data: { 'reflex': 'click' },
          onclick: 'this.querySelector(".fa-refresh").classList.add("fa-spin")' do %>
        <%= fa_icon "refresh" %>
      <% end %>
    <% end %>
<% end %>

<table class="table is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th><%= t 'batch.name' %></th>
      <th><%= t 'batch.group' %></th>
      <th><%= t 'batch.created_by' %></th>
      <th><%= t 'batch.created_at' %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'row', collection: policy_scope(@batches), as: :batch %>
  </tbody>
</table>