<!DOCTYPE html>
<html>
  <head>
    <title>CspaceBatchImport</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p id="notice"><%= notice %></p>

    <% if user_signed_in? %>
      <%= button_to "Logout", destroy_user_session_path, method: :delete  %>
      <%= button_to "My Account", edit_user_path(current_user), method: :get %>
      <% if current_user != true_user %>
        <%= button_to "Back to admin", stop_impersonating_users_path, method: :post %>
      <% end %>

      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <% if current_user.admin? %>
          <li><%= link_to 'Users', users_path %></li>
        <% end %>
      </ul>
    <% end %>

    <%= yield %>
  </body>
</html>
