<!DOCTYPE html>
<html>
  <head>
    <title>CspaceBatchImport</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="section">
      <% if user_signed_in? %>
        <%= render 'shared/navbar' %>
      <% end %>

      <div class="container">

        <% if notice %>
          <%= render partial: 'shared/flash', locals: { message: notice, type: 'primary' } %>
        <% end %>

        <% if alert %>
          <%= render partial: 'shared/flash', locals: { message: alert, type: 'danger' } %>
        <% end %>

        <% if user_signed_in? && !allowed_access? %>
          <article class="message is-dark">
            <div class="message-body">
              <%= t('user.unassigned') %>
            </div>
          </article>
        <% else %>
          <%= yield %>
        <% end %>
      </div>
    </section>

    <%= render 'shared/footer' %>
  </body>
</html>
